# Ignore Mac system files
.DS_Store

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore Vim swap files
*.swp

# Ignore temporary files
*.tmp
*.bak

# Ignore compiled files
*.o
*.out
*.class

# Ignore IDE specific files
.vscode/
.idea/